*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin: 0 ; 
    background-color:  #EFEBEE  ;
}
/* -------------- HEADER Y FOOTER -------------------- */

header{
    height: 48px;
    border-style:solid;
    border-bottom-width: 2px;
    float:none;
    border-color: #EFEBEE;
    border-bottom-color: #51515F;
    background-color: transparent;
    display: run-in;
}
footer{
    height: 48px;
    border-style:solid;
    border-bottom-width: 2px;
    float:none;
    border-color: #EFEBEE;
    border-top-color: #51515F;
    background-color: #EFEBEE;
}
.header{
    width: 90vw;
    margin:auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 90vw;
    margin:auto
}
#logo-kiting{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    text-align: center;
    display: flex;
    color:#101014;
}
.header-links{
    display: none;
    font-size: 12px;
    width: fit-content;
    color:#101014;
}
a{
    margin:auto;
    padding: 8px;
}

/* -----------MEDIA QUERIES HEADER & FOOTER-----------------------*/
    /* Tablets */
    @media (min-width:481px){
        .header-links{
            display: inline ;
        }
        .header{
            justify-content: space-between;
        }  
    }