*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin: 0 ; 
    background-color:  #EFEBEE  ;
}
main{
    max-width: 1279px;
    margin: auto;
    width: 90vw; 
}
img{
    width: 100%;  
}

section{
    width:100%;
    display: flex;
}

.airbnb-box{  
    width: 100vw;  /* Este campo es el que se debe modificar con la media query */
    padding: 12px;
    /* height: 408px; este campo es el que se modifica con la media query  */
}
#title-airbnb-box{
    padding: 12px;
}
/* Con esta configuracion logro que el formulario se vea con 'niveles' */
form{
    height: fit-content;
}
.form-level1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-level2,.form-level3{
    display: flex;
    justify-content: space-around;
}
.form-level2-element,.form-level3-element{
    width: 50%;
}   
        /* FIN: ^ (Con esta configuracion logro que el formulario se vea con 'niveles') */
#form-button-enviar{
    width:100%;
    height: 36px;
}
.kiting-style{  /*estas son las secciones que contienen cada tipo de kiting */
    /*height: 288px; ACA LE DOY UN TAMAÑO A LAS SECCIONES DE LA HOME*/
    flex-direction: column;
}
/* Grandes imagenes de la home */
#figure-surf{
    height: 240px;
    border-radius: 2%;
    background-image: url("../img/home-surf.jpg");
    background-position: center;
}
#figure-freestyle{
    height: 240px;
    border-radius: 2%;
    background-image: url("../img/home-freestyle.jpg");
    background-position: center;
}
#figure-freeride{
    height: 240px;
    border-radius: 2%;
    background-image: url("../img/home-freeride.jpg");
    background-position: center;
}

/* Botones de compra de la home */
.button-comprar{
    padding: 8px;
    border-radius: 2%;
    position: relative;
    left: 32px;
    top: 32px;

}
article{
    padding-bottom: 24px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
}

p{
    text-align: justify;
}

/* -----------MEDIA QUERIES-----------------------*/

   /*desktop*/
   @media (min-width:769px){
    .presentation{
        background-image:url("../img/raphael-nogueira-Cl-TBR7N0oQ-unsplash.jpg");
        background-position:top;
        height: 510px;
        background-size: 1279px;  
    }
    .airbnb-box{
        height: 368px; /*comportamiento airbnb */
        width: 544px;
        margin: 20px;
        border-radius: 2%;     
        box-shadow: 0px 0px 40px rgb(133, 120, 120);    
        padding: 12px;
        }
    .kiting-style{  /*estas son las secciones que contienen cada tipo de kiting */
        flex-direction: row;
    }
    #kiting-style-freestyle{
        flex-direction: row-reverse;
    }
    article{
        margin-top: auto;
        margin-bottom: auto;
        text-align: justify;
    }
    p{
        margin-right:56px;
        text-align: justify;
    }
    #figure-surf,#figure-freeride{
        margin-left: 16px;
        width: 180%;
    }
    #figure-freestyle{
        margin-right: 16px;
        width: 180%;
    }
}
