*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin: 0 ; 
    background-color: #EFEBEE;
}
main{
    max-width: 1279px;
    margin: auto;
}
img{
    width: 100%;
}
section{
    width:100%;
    display: flex;
}
header,footer{
    background-color: grey;
}
.presentation{
    background-image:url("../img/raphael-nogueira-Cl-TBR7N0oQ-unsplash.jpg");
    height: 510px;
    background-size: 1279px;    
}
.airbnb-box{
    height: 408px;
    margin: 20px;
    background-color:#EFEBEE;
    border-radius: 2%;
    box-shadow: 0px 0px 40px rgb(133, 120, 120)
}
.airbnb-box{
    padding: 12px;
}
#title-airbnb-box{
    padding: 12px;
}



/*MEDIA QUERIES*/
