*{
    width:100%;
}

img{
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    vertical-align: middle;
    height: 0.1;
    width: 1;
    margin:1px;
    font-family: "Ubuntu";
   
    }

.logoHeader{
    text-align:left;
    font-size: 5vw;
}

.homeHeader{
    text-align: right;
    font-size: 5vw;

}

.contactUsHeader {
    text-align: right;
    font-size: 5vw;
}

.loginForm{
    width: 16em;
	margin: 50px auto;
	background-color: #c4b0c4;
    border: 1px solid #51515F;
	height: auto;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
  }

  .userIcon{
    color:black;   
    display: block;
    text-align: center;
    margin: auto; 
    width: 15px;
    padding: 12px;
    border-radius: 12px;
    border-color: black;
}

.border {
    border:solid 1px #51515F
}



.emailForm{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

.contraseña{
    text-align: center
}

.submitBottom{
    margin-top: 20px;
}

.registro{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.opcioncontra{
	text-align: center;
	
	font-size: 14px;
}