*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin: 0 ; 
    background-color:  #EFEBEE  ;
}
main{
    max-width: 1279px;
    margin: auto;
    width: 90vw; 
}
img{
    width: 100%;  
}
#photo1{
    background-image: url(../img/kite-example.png);
    width: 320px;
    height: 240px;
    margin:16px;
} 
#photo2,#photo3,#photo4,#photo5{
     background-image: url(../img/kite-example.png);
     width: 320px;
     height: 240px;
     margin:16px;
     display: none;
} 

#photo-galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#conteiner{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    border-style:solid;
    border-bottom-width: 1px;
    border-color: #EFEBEE;
    border-top-color: #51515F;
    padding-top: 16px;
}
#product-characteristics{
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.article-product-characteristics{
    background-color: blueviolet;
    width: 100%;
    height: 240px;
}

#product-checkout{
    background-color: black;

}
#checkout-box{
    height: 220px;
    margin: 20px;
    border-radius: 2%;     
    box-shadow: 0px 0px 40px rgb(133, 120, 120);    
    padding: 12px;

}

/* -------------- HEADER Y FOOTER -------------------- */

header{
    height: 48px;
    border-style:solid;
    border-bottom-width: 2px;
    float:none;
    border-color: #EFEBEE;
    border-bottom-color: #51515F;
    background-color: #EFEBEE;
}
footer{
    height: 48px;
    border-style:solid;
    border-bottom-width: 2px;
    float:none;
    border-color: #EFEBEE;
    border-top-color: #51515F;
    background-color: #EFEBEE;
}
.header{
    width: 90vw;
    margin:auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 90vw;
    margin:auto
}
#logo-kiting{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    text-align: center;
    display: flex;
    color:#101014;
}
.header-links{
    display: none;
    font-size: 12px;
    width: fit-content;
    color:#101014;
}
a{
    margin:auto;
    padding: 8px;
}
/* -----------MEDIA QUERIES HEADER & FOOTER-----------------------*/
    /* Tablets */
    @media (min-width:481px){
        .header-links{
            display: inline ;
        }
        .header{
            justify-content: space-between;
        }  
    }


/* -----------MEDIA QUERIES-----------------------*/

   /*desktop*/
   @media (min-width:769px){
    #conteiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-style:solid;
        border-bottom-width: 1px;
        border-color: #EFEBEE;
        border-top-color: #51515F;
        padding-top: 16px;
    }
    #checkout-box{
        height: 368px; /*comportamiento airbnb */
        width: 220px;
        margin: 20px;
        border-radius: 2%;     
        box-shadow: 0px 0px 40px rgb(133, 120, 120);    
        padding: 12px;
        margin-left: auto;
    }
    #product-characteristics{
        width: 60%;
    }
    #product-checkout{
        width: 40%;
    }
    #photo-galery{
        flex-wrap: nowrap;
    }
    #photo2,#photo3,#photo4,#photo5{
        background-image: url(../img/kite-example.png);
        width: 320px;
        height: 240px;
        margin:16px;
        display: inline;
   } 
 }
