*{
    width:100%;
}

img{
    width: auto;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    vertical-align: middle;
    height: 0.1;
    width: 100%;
    margin:1px;
    font-family: "Ubuntu";

   
    }

.logoHeader{
    text-align:left;
    font-size: 5vw;
}

.homeHeader{
    text-align: right;
    font-size: 5vw;

}

.contactUsHeader {
    text-align: right;
    font-size: 5vw;
}

.loginForm{
    width: 16em;
	margin: 50px auto;
	background-color:white;
    border: 1px solid #51515F;
	height: auto;
	border-radius:2%;
    box-shadow:0px 0px 20px rgb(141, 140, 140);
    
  }

  
  .userIcon{
    color:black;   
    display: block;
    text-align: center;
    margin: auto; 
    width: 16em;
    padding: 12px;
    border-radius: 2%;
    border-color: black;
  
}

.border {
    border:solid 1px #51515F
}

.crearCuenta{
    margin-top: 1em;
    margin-bottom: 20px;
}


.emailForm{
    text-align: center;  
    width: fit-content;
    margin-left: 40px;
    height: 1.5em;

}

.contraseña{
    text-align: center;
    margin-top: 5px;
    margin-left:40px;
    width: max-content;
    height: 1.5em
    
}

.confirmarcontraseña{
    text-align: center;
    margin-top: 5px;
    width: fit-content;
    margin-left: 40px;
    height: 1.5em
    
}

.submitBottom{
    margin-top: 20px;
    background-color: #7289AB;
    color: white;
    width: 100%;
    height: 3em;
    
}

.registro{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.opcioncontra{
	text-align: center;
	font-size: 14px;
}