<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <!--HEADER--> <%- include('../partials/header') %> 
    <main>
        <section class="presentation">
            <div class="airbnb-box">
                <h1 id="title-airbnb-box">Encuentra tu próximo equipo en Kiting</h1>
                <p id="description-airbnb-box">Cada cometa es diferente, asegurarte de que eliges la cometa indicada para tu estilo preferido</p> 
                <form  class="formulario>" action="/" method="POST"> 
                    <div>
                        <div class="form-level1-element">  <!-- este div me permite customizar el estilo de boton + etiqueta -->          
                            <label for='style'>¿Qué estilo estas buscando?</label><br>
                            <div class='form-level1' id="form-product"> <!--este div me permite tener la primer pregunta en un solo renglon -->
                                <input type="radio" name = "style" id = "style"  value="all">Todos</option>
                                <input type="radio" name = "style" id = "style"  value="surf">Surf</option>
                                <input type="radio" name = "style" id = "style"  value="freeride">Freeride</option>
                                <input type="radio" name = "style" id = "style"  value="freestyle">Freestyle</option>
                            </div>
                        </div>
                        <div class="form-level2"> <!--este div me permite tener la pregunta 2 y 3 en el mismo renglon -->
                            <div class="form-level2-element"> <!--este div me permite tener la pregunta que la pregunta 2 se comporte como un bloque -->
                                <label for="name">¿Qué marca estas buscando?</label><Br>
                                    <select name="name" id="form-style">
                                        <option id="name" value="all">Todos</option>
                                    </select>
                            </div>
                            <div class="form-level2-element"> <!--este div me permite tener la pregunta que la pregunta 2 se comporte como un bloque -->
                            <label for="brand">¿Qué tamaño estas buscando?</label><Br>
                                <select name="brand" id="form-brand">
                                    <option id="brand" value="all" selected>Todos</option>               
                                    <option id="brand" value="north">North</option>
                                    <option id="brand" value="duotone">Duotone</option>
                                    <option id="brand" value="cabrinha">Cabrinha</option>
                                </select>  
                             </div>
                        </div>
                        <div class="form-level3">
                            <div class="form-level3-element">
                                <label for="size">¿Qué tamaño estas buscando?</label><Br>
                                    <select name="size"id="form-size">                       
                                        <option id="size" value="all" selected>Todos</option>
                                    </select>
                            </div>
                            <div class="form-level3-element">
                                <label for="colour">¿Qué color estas buscando?</label><Br>
                                <select name="colour" id="form-colour">
                                    <option id="colour" value="all" selected>Todos</option>
                                </select>
                            </div>
                        </div>
                        <br><button type="submit" id='form-button-enviar'><a href="../products/allProducts.ejs"></a>Buscar</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- ACA TERMINA EL ESTILO AIRBN -->
        <br>
        <section class="kiting-style" id="kiting-style-surf">
            <article id="article-surf">
                <h2 id="title-surf">SURF COLLECTION</h2>
                <p id="description-surf">Our 2021 Surf Collection is designed to give you all the feels and don’t ride the water, be the water</p>
                <button class= 'button-comprar' type="button" ><a class= 'a-comprar' href="/productDetail">Comprar ></a></button>   
            </article>
            <figure class="kiting-style-figures" id="figure-surf"></figure>
        </section>
        <br >
        <hr style="width:90%;margin:auto;">
        <br>
        <section class="kiting-style" id="kiting-style-freestyle">
            <article id="article-freestyle">
                <h2 id="title-freestyle">FREESTYLE COLLECTION</h2>
                <p id="description-freestyle">Dance it out, let yourself go. Parkour, ocean style. This is your playground</p>  
                <button class= 'button-comprar' type="button" ><a class= 'a-comprar' href="/productDetail">Comprar ></a></button>  
            </article>
            <figure class="kiting-style-figures" id="figure-freestyle"></figure>
        </section>
        <br>
        <hr style="width:90%;margin:auto">
        <br>
        <section class="kiting-style">
            <article id="article-freeride">
                <h2 id="title-freeride">FREERIDE COLLECTION</h2>
                <p id="description-freeride">Sensing your kite’s position is second nature with the Navigator – designed for the ultimate intuitive feeling so that you can think less and feel more</p>
                <button class= 'button-comprar' type="button" ><a class= 'a-comprar' href="/productDetail">Comprar ></a></button>
            </article>
            <figure class="kiting-style-figures" id="figure-freeride"></figure>  
        </section>
        <br>
    </main>
    <br>
    <!-- FOOTER --> <%- include('../partials/footer') %> 
</body>
</html>