<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
        <!--HEADER--> <%- include('../partials/header') %> 
<main class="login">
    <!-- <video class="loginVideo" src="/video/Surfing through the Ocean Waves.mp4" muted autoplay loop></video> -->
    <nav>
        <h1>oops! algo salio mal!. NO SOS ADMIN</h1>
    </nav>
</main>
    <!-- FOOTER --> <%- include('../partials/footer') %> 

</body>
</html>