<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
        <!--HEADER--> <%- include('../partials/header') %> 
<main class="login">
    <nav>
        <h1>oops! algo salio mal!, NO ESTAS LOGUEADO</h1>
    </nav>
</main>
    <!-- FOOTER --> <%- include('../partials/footer') %> 

</body>
</html>