<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/home.css">
    <title>Grupo_5_kiting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">  <!--
        CSS rules to specify families font-family: 'Open Sans', sans-serif; -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> <!--
        CSS rules to specify families font-family: font-family: 'Ubuntu', sans-serif;
     -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div id="logo-kiting">KITING</div>
            <div class="header-links">
                <a href="../views/home.html">Pagina principal</a>
                <a href="../views/login.html">Ingresá</a>
                <a href="../views/register.html">Registrate</a>
                <a href="productCart.html"><i class="fas fa-shopping-cart"></i>

                </a>
            </div> 
        </div>
    </header>        
    <main>
        <section class="presentation">
            <div class="airbnb-box">
                <h1 id="title-airbnb-box">Encuentra tu próximo equio en Kiting</h1>
                <p id="description-airbnb-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p> 
                <br>
                <form  class="formulario" action="/" method="POST"> 
                    <div>
                        <label for='product'>¿Qué estas buscando?</label><br>
                        <div class='form-level1'> <!--este div me permite tener la primer pregunta en un solo renglon -->
                            <input type="radio" name = "product" id="product"  value="equipo-completo">Equipo completo</option>
                            <input type="radio" name = "product" id="product"  value="vela">Vela</option>
                            <input type="radio" name = "product" id="product"  value="barra">Barra</option>
                            <input type="radio" name = "product" id="product"  value="tabla">Tabla</option>
                            <input type="radio" name = "product" id="product"  value="arnes">Arnes</option>
                        </div>
                        <br>
                        <div class="form-level2"> <!--este div me permite tener la pregunta 2 y 3 en el mismo renglon -->
                            <div class="form-level2-element"> <!--este div me permite tener la pregunta que la pregunta 2 se comporte como un bloque -->
                                <label for="kie-style">¿Qué estilo estas buscando?</label><Br>
                                    <select name="style">
                                        <option id="style" value="freeride">Freeride</option>
                                        <option id="style" value="surf">Surf</option>
                                        <option id="style" value="freestyle">Freestyle</option>
                                        <option id="style" value="foil">Foil</option>
                                        <option id="style" value="all" selected>Todos</option>
                                    </select>
                            </div>
                            <div class="form-level2-element"> <!--este div me permite tener la pregunta que la pregunta 2 se comporte como un bloque -->
                            <label for="brand">¿Qué tamaño estas buscando?</label><Br>
                                <select name="brand">
                                    <option id="brand" value="all" selected>Todos</option>               
                                    <option id="brand" value="north">North</option>
                                    <option id="brand" value="duotone">Duotone</option>
                                    <option id="brand" value="cabrinha">Cabrinha</option>
                                </select>  
                             </div>
                        </div>
                        <div class="form-level3">
                            <div class="form-level3-element">
                                <label for="size">¿Qué tamaño estas buscando?</label><Br>
                                    <select name="size">                       
                                        <option id="size" value="all" selected>Todos</option>
                                        <option id="size" value="completar">necesita js/db</option>
                                    </select>
                            </div>
                            <div class="form-level3-element">
                                <label for="colour">¿Qué color estas buscando?</label><Br>
                                <select name="colour">
                                    <option id="colour" value="all" selected>Todos</option>
                                    <option id="colour" value="completar">necesita js/db</option>
                                </select>
                            </div>
                        </div>
                        <br><button type="submit" id='form-button-enviar'>Buscar</button>
                    </div>
                </form>
            </div>
        </section>
        <br>
        <section class="kiting-style">
            <article id="article-surf">
                <h2 id="title-surf">El surf es todo lo que esta bien</h2>
                <p id="description-surf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>    
            </article>
            <figure class="kiting-style-figures" id="figure-surf"></figure>
        </section>
        <br>
        <hr style="width:90%;margin:auto">
        <br>
        <section class="kiting-style" id="kiting-style-freestyle">
            <article id="article-freestyle">
                <h2 id="title-freestyle">El freestyle es todo lo que esta bien</h2>
                <p id="description-freestyle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>    
            </article>
            <figure class="kiting-style-figures" id="figure-freestyle"></figure>
        </section>
        <br>
        <hr style="width:90%;margin:auto">
        <br>
        <section class="kiting-style">
            <article id="article-freeride">
                <h2 id="title-freeride">El freeride es todo lo que esta bien</h2>
                <p id="description-freeride">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </article>
            <figure class="kiting-style-figures" id="figure-freeride"></figure>
        </section>
        <br>
    </main>
    <br>
    <footer>
        <div class="footer">
        </div>
    </footer>     
</body>
</html>