<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/index.css">
    <title>Grupo_5_kiting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">  <!--
        CSS rules to specify families font-family: 'Open Sans', sans-serif; -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> <!--
        CSS rules to specify families font-family: font-family: 'Ubuntu', sans-serif;
     -->
</head>
<body>
    <header>Aca va logo, login y about us</header>        
    <main>
        <section class="presentation">
            <article class="airbnb-box">
            </article>
        </section>
        <section class="kiting-style">
            <article id="article-surf">
                <h2 id="title-surf"></h2>
                <p id="description-surf"></p>
                <figure id="figure-surf"></figure>
            </article>
        </section>
        <hr style="width:50%;text-align:left;margin-left:0">
        <section class="kiting-style">
            <article id="article-freestyle">
                <h2 id="title-freestyle"></h2>
                <p id="description-freestyle"></p>                
                <figure id="figure-freestyle"></figure>
            </article>
        </section>
        <hr style="width:50%;text-align:left;margin-left:0">
        <section class="kiting-style">
            <article id="article-freeride">
                <h2 id="title-freeride"></h2>
                <p id="description-freeride"></p>
                <figure id="figure-freeride"></figure>
            </article>
        </section>
    </main>
    <footer></footer>     
</body>
</html>