<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Grupo_5_kiting</title>
</head>
<header>
    <h1 class = 'logoHeader'>KITING</h1>
    <h1 class = "homeHeader" ><a href="/">Home</a></h1>
    <h1 class = "contactUsHeader"> Contact Us</h1>
</header> 
<body>
    <nav class = "loginForm">
        <div class = "userIcon"> <i  class="fas fa-user"></i></div>
        <div class = "border"></div>
        <div class="ContentForm">
            <form action="home.html" method="post" name="FormEntrar">                
                 <input class ="emailForm" type="email" class="form-control" name="correo" placeholder="Email/Username" id="Correo"  required>
               </div>
               <br>
                <input class= "contraseña"type="password" name="contra" class="form-control" placeholder="Password"  required>
               </div>
               <br>
               <button class = "submitBottom" type="submit">LOG IN ></button>
               <div  class= "registro"><a href="../views/register.html">Not registered? Register</a></div>
               <div class="opcioncontra" ><a href="">Recover password</a></div>
            </form>
        </div>	
        </div>

    </nav>
    <footer>
        <div class="footer">
        </div>
    </footer>   

</body>
</html>