<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
        <!--HEADER--> <%- include('./partials/header') %> 
<main class="login">
    <video class="loginVideo" src="/video/Surfing through the Ocean Waves.mp4" muted autoplay loop></video>
    <nav class = "loginForm">
        <div class = "userIcon"> <i  class="fas fa-user"></i></div>
        <div class = "border"></div>
        <div class="ContentForm">
            <form action="home.html" method="post" name="FormEntrar">                
                 <input class ="emailForm" type="email" class="form-control" name="correo" placeholder="Email/Username" id="Correo"  required>
               </div>
               <br>
                <input class= "contraseña"type="password" name="contra" class="form-control" placeholder="Password"  required>
               </div>
               <br>
               <button class = "submitBottom" type="submit">LOG IN ></button>
               <div  class= "registro"><a href="/register">Not registered? Register</a></div>
               <div class="opcioncontra" ><a href="">Recover password</a></div>
            </form>
        </div>	
        </div>

    </nav>
</main>
    <!-- FOOTER --> <%- include('./partials/footer') %> 

</body>
</html>