<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../../css/productDetail.css">
</head>
<body>
    <!--HEADER--> <%- include('./partials/header') %>     
    <main>
        <h1 id="product-title">CARVE 2021</h1>
        <h2 id='product-style'>SURF / STRAPLESS FREE</h2>
        <h3 id='product-sku'>CODE: 85000.210001</h3>
        <section id='photo-galery'>
            <figure id="photo1"></figure>
            <figure id="photo2"></figure>
            <figure id="photo3"></figure>
            <figure id="photo4"></figure>
            <figure id="photo5"></figure>
        </section>
        <section id="conteiner">
            <section id="product-characteristics">
                <article class="article-product-characteristics" id="top-features">
                    <h3 class="product-characteristics-title" id="top-features-title">Top features</h3>
                    <div class="product-characteristics-description" id="top-features-description"></div>
                </article>
                <article class="article-product-characteristics" id="style-selector">
                    <h3 class="product-characteristics-title" id="stile-selector-title">Style selector</h3>
                    <div class="product-characteristics-description" id="style-selector-description"></div>
                </article>
                <article class="article-product-characteristics" id="wind-range">
                    <h3 class="product-characteristics-title" id="wind-range-title">Wind range</h3>
                    <div class="product-characteristics-description" id="wind-range-description"></div>
                </article>
            </section>
            <section id="product-checkout">
                <div id="checkout-box">
                </div>
            </section>

        </section>
    </main>
    </main>
    <br>
    <!-- FOOTER --> <%- include('./partials/footer') %> 
</body>
</html>