<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">  <!--
        CSS rules to specify families font-family: 'Open Sans', sans-serif; -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> <!--
        CSS rules to specify families font-family: font-family: 'Ubuntu', sans-serif;
     -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Kiting</title>
</head>
<header>
        <h1 class = 'logoHeader'>KITING</h1>
        <h1 class = "homeHeader" ><a href="home.html">Home</a></h1>
        <h1 class ="homeHeader" ><a href="../views/login.html">Ingresá</a></h1>
        <h1 class ="homeHeader"><a href="../views/register.html">Registrate</a></h1>

    
</header> 
<body>
   
    <nav class="cartConteiner">
       <nav class = "form">
        <div class ="titleCart">Lorem ipsum dolo</div>
        <ul>
            <li> <img class ="imgCart" src="../../public/img/kite-cart.PNG"> 
                <div>lorem ipsum </div>
                <div class="addItems">
                        <i class="fas fa-plus-circle"></i> 
                        <div>X</div>
                        <i class="fas fa-minus-circle"></i> 
                </div>
                <div>$XXXX</div> 
            </li>
            <li> <img class ="imgCart" src="../../public/img/kite-cart.PNG"> 
                <div>lorem ipsum </div>
                <div class="addItems">
                        <i class="fas fa-plus-circle"></i> 
                        <div>X</div>
                        <i class="fas fa-minus-circle"></i> 
                </div>
                <div>$XXXX</div> 
            </li>
            <li> <img class ="imgCart" src="../../public/img/kite-cart.PNG"> 
                <div>lorem ipsum </div>
                <div class="addItems">
                        <i class="fas fa-plus-circle"></i> 
                        <div>X</div>
                        <i class="fas fa-minus-circle"></i> 
                </div>
                <div>$XXXX</div> 
            </li>
        </ul>
        <div class= "totalAmount">$XXXXXX</div>
        <button class = "buyButton" type="submit">BUY</button>
    </nav>
    </nav>
    
</body>
<footer>
    <div class="footer">
    </div>
</footer>     
</html>