<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../../css/register.css">
    <title>KITING</title>
</head>
<header>
    <h1 class = 'logoHeader'>KITING</h1>
    <h1 class = "homeHeader" ><a href="/">Home</a></h1>
    <h1 class = "contactUsHeader"> Contact Us</h1>
  
</header>
<body>
    
    <nav class = "loginForm">
        <div class = "userIcon"> <i  class="fas fa-user"></i></div>
        <div class = "border"></div>
        <div class="ContentForm"></div>
            <div class="crearCuenta">Create account</div>
            <form action="home.html" method="post" name="FormEntrar">   
                 
                 <input class ="emailForm" type="usuario" class="form-control" name="correo" placeholder="Email/Username" id="Correo"  required>
               <br>
                <input class= "contraseña"type="password" name="contra" class="form-control" placeholder="Password"  required>
            
               <input class ="confirmarcontraseña" type="password" name=contra placeholder = "Repeat password" required>
               <br>
            
               <button class = "submitBottom" type="submit"><b>SIGN IN ></b></button>
               <div  class= "registro"><a href="../views/login.html">Already have an account? LOG IN</a></div>
               
            </form>
        </div>	
        </div>

    </nav>
</body>

</html>