<head>
    
</head>

<footer>
    <div class="footer">
        <nav class="admin"> Administrador</nav>
        
        <nav class ="nuevoProducto"><a href ="/admin/create"><STYLE>A {text-decoration: none;} </STYLE> Quiero subir un nuevo producto</a></nav>
    </div>
</footer>     