<head>
    
</head>

<footer>
    <div class="footer">
        <nav class="admin"> Administrador</nav>
        <nav class ="nuevoProducto"><a href ="/products/create"><STYLE>A {text-decoration: none;} </STYLE> Quiero subir un nuevo producto</a></nav>
        <nav> <a href ="/products/edit"> Quiero modificar un producto ya cargado</a></nav>
    </div>
</footer>     