
<header>
    <div class="header">
        <div id="logo-kiting">KITING</div>
        <div class="header-links">
            <button id='buttonAdmin'><a   href ="/admin/products">Admin</a></button>
            <a href="/">Inicio</a>
            <a id='login' href="/login">Ingresá</a>
            <a id="register" href="/register">Registrate</a>
            <a id="logout"  href="/logout">Salir</a>  
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>     
        </div> 
    </div>
    <script src="js/header.js"></script>
</header> 