    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo_5_kiting</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
     <!-- ACA VAN LAS FUTENTES  -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=RocknRoll+One&display=swap" rel="stylesheet">
     <!-- font-family: 'Roboto Mono', monospace; font-family: 'RocknRoll One', sans-serif; -->

     <link rel="stylesheet" href="/css/partials/header.css">
     <link rel="stylesheet" href="/css/partials/footer.css">
     <link rel="stylesheet" href="/css/<%= css %>">