
<header>
    <div class="header">
        <div id="logo-kiting">KITING</div>
        <div class="header-links">
            <a href="/">Inicio</a>
            <a href="/login">Ingresá</a>
            <a href="/register">Registrate</a>
            <!-- <a href="/productDetail">¡Mas vendido!</a> -->
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>     
        </div> 
    </div>
</header>