<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main>
        <!--HEADER--> <%- include('../partials/header') %> 
       <form  class="formulario" action="/" method="POST"> 
           
               <div class = "titulo">Modificacion de Productos ya cargados</div>
            
                <label for="product">Elegi el producto a modificar</label><Br>
                    <select name="product">
                        <option id="product" value="all" selected>Todos</option>               
                        <option id="product" value="necesitoJs">Necesito JS</option>
                    </select>  </div>
               <div class="descripcion">
                   <label for="descripcion"> Descripción del producto</label>
                   <nav><textarea name="comentarios" rows="10" cols="40" placeholder="Escribe aqui la descripcion del producto"></textarea></nav>
               </div>
               <div class="imagen">
                  <label for="imagen"> Imagen del producto</label> 
                   <div><input style= "background-color: white" type="file" name="imagen" /></div>
               </div>
               <div class="tamaño">
               <label for="brand">Tamaño del producto</label><Br>
                   <select name="brand">
                       <option id="brand" value="all" selected>Todos</option>               
                       <option id="brand" value="north">North</option>
                       <option id="brand" value="duotone">Duotone</option>
                       <option id="brand" value="cabrinha">Cabrinha</option>
                   </select>  </div>
               <div>
               <div class ="precio">
               <label for="precio">Precio del producto</label></div>
               <div><input type="number" name = "price"> </div></div>
               <button type="submit" id='form-button-enviar'>Modificar</button>
       </form>
   </main>
       <!-- FOOTER --> <%- include('../partials/footer') %> 
</body>
</html>