/* -------------- FOOTER -------------------- */
footer{
    height: 48px;
    border-style:solid;
    border-bottom-width: 2px;
    float:none;
    border-color: #EFEBEE;
    border-top-color: #51515F;
    background-color: #ffffff ;
}
.footer{
    width: 90vw;
    margin:auto
}
/* --- Comento esto porque hace que se me rompan los links 
a{
    margin:auto;
    padding: 8px;
}
*/
.admin{
 font-weight: 700;
 margin-top: 2em;
}

.nuevoProducto{
    margin-top: 1em;
}
/* -----------MEDIA QUERIES FOOTER-----------------------*/
