<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('../partials/head', 
    
<body>

    <!-- Cuerpo de la pagina -->
    <main>
        <section class='contenedor-formulario'>
            <h2 class='h-login'>Debes iniciar sesión antes de ingresar</h2>
            
            <video class="loginVideo" src="/video/Surfing through the Ocean Waves.mp4" muted autoplay loop></video>
       <section>
                <a  href='/login'>Iniciar sesión</a>
            </section>
            <section>
                <a href='/register'>Crear cuenta</a>
            </section>
            <section>
                <a  href='#'>¿Olvidaste tu contraseña?</a>
            </section>
            <section>
                <a class='text-inciarsesion' id='last' href='/'>Regresar a la tienda</a>
            </section>
        </section>
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>